@model Hotellerie_X.Models.HotellerieModel.Appreciation

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1>Détails de l'appréciation</h1>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomPers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomPers)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note) / 10
        </dd>
        
        <dt class="col-sm-2">
            Hôtel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Nom)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Éditer</a> |
        <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>
